.grid{
 padding: 50px;
}
.btn1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 5px;
    margin-right: 0px;
    button{
        margin-top: 10px;
        padding: 10px;
        cursor: pointer;
        
        border: 1px solid black;
        border-radius: 30px;
       
        font-size: 20px;
        background-color: #926AA6;
        
        
    
    }
}

.btn2{
     display: flex;
     margin: 0 auto;
     justify-content: flex-end;
     margin-right: 203px;
    button{
        background-color: orange;
        cursor: pointer;
        min-height: 50px;
        padding: 10px;
        border: 1px solid black;
        font-size: 25px;
        border-radius: 5px;
        transition: all 0.5s;
      
     }
     button:hover {background-color: rgb(234, 154, 4)}
}